@CHARSET "UTF-8";

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  color: white;
  font-size: 10px;
}

#views{
  width: 100%;
  height: -moz-calc(100% - 0.13rem);

  color: black;
}

#menu {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 4em;
  bottom: 0;
}

#menu > [role="tab"] {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: calc(100% / 3);
}

#menu > [role="tab"] > a {
  font-size: 1.3rem;
  text-decoration: none;
  line-height: 4rem;
  text-align: center;
  color: #FFF;
  float: left;
  width: 100%;
  background: #000 no-repeat center top;
  position: relative;
  transition-property: background-color, color;
  transition-duration: 0.1s;
  color: #fff;
}

#menu > [role="tab"] > a.icon {
  font-size: 0;
}

#menu > [role="tab"] > a.icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: none no-repeat center top / 3rem auto;
  left: 0;
  z-index: 1;
}


/* Selected state */

#menu > [role="tab"][aria-selected="true"] > a,
#menu > [role="tab"] > a:active {
  background-color: #008aaa;
}

#menu > [role="tab"][aria-selected="true"] > a.icon:after {
  background-position: center -4rem;
}

/* Disabled state */
/* #menu > [role="tab"][aria-disabled="true"] > a {
  color: #4d4d4d;
}

#menu > [role="tab"][aria-disabled="true"] > a:active {
  background-color: #000;
}

#menu > [role="tab"][aria-disabled="true"] > a.icon:after {
  background-position: center -8rem;
} */

#top_menu {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 4em;
  top: 0;
}

#top_menu > [role="tab"] {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: calc(100% / 4);/*切割寬度成4個cell*/
}

#top_menu > [role="tab"] > a {
  font-size: 1.3rem;
  text-decoration: none;
  line-height: 4rem;
  text-align: center;
  color: #FFF;
  float: left;
  width: 100%;
  background: #000 no-repeat center top;
  position: relative;
  transition-property: background-color, color;
  transition-duration: 0.1s;
  color: #fff;
}

#top_menu > [role="tab"] > a.icon {
  font-size: 0;
}

#top_menu > [role="tab"] > a.icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: none no-repeat center top / 3rem auto;
  left: 0;
  z-index: 1;
}


/* Selected state */

#top_menu > [role="tab"][aria-selected="true"] > a,
#top_menu > [role="tab"] > a:active {
  background-color: #008aaa;
}

#top_menu > [role="tab"][aria-selected="true"] > a.icon:after {
  background-position: center -4rem;
}

/* Disabled state */
/* 
#top_menu > [role="tab"][aria-disabled="true"] > a {
  color: #4d4d4d;
}

#top_menu > [role="tab"][aria-disabled="true"] > a:active {
  background-color: #000;
}

#top_menu > [role="tab"][aria-disabled="true"] > a.icon:after {
  background-position: center -8rem;
}*/


