body{
    background-color:black;

}


.pic-picker{
    float:right;
	
}

.pic-picker > img{
    width:80px;
	height:80px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	border:solid 2px gainsboro;
}
.row{
    clear:both;
}
.col-head{
    float:left;
	width:50px;

}
.col-body{
    float:left;
	width:80%;
}

.col-body-medium{
    float:left;
	width:70%;
	margin-right:3px;
}

.col{
    float:left;
}

.col-body-short{
    float:left;
	width:50%;
}

.text-center{
	height:43px;
	line-height:43px;
	font-size:16px;
	vertical-align: middle;
	
}

img.star{
    padding-top:4px;
	padding-bottom:8px;
    width:30px;
	height:30px;
}

img.gallery-pic{

    width:90px;
	height:90px;
	border:solid 1px gainsboro;
	margin:2px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

img.gallery-pic:hover{

    width:90px;
	height:90px;
	border:solid 2px orange;
	margin:0.5px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

