body {background-color:#AFD6FF;}

.row{
    clear:both;
}
.col-head{
    float:left;
	width:50px;

}
.col-body{
    float:left;
	width:80%;
}


.text-center{
	height:43px;
	line-height:43px;
	font-size:16px;
	vertical-align: middle;
	
}

img.star{
    padding-top:4px;
	padding-bottom:8px;
    width:30px;
	height:30px;
}

.picture{
	position: absolute;
	right:0px;
	bottom: 0px;
}